.post{
    max-width: 400px;
background-size: cover;
}

.display{
    display: flex; 
    flex-direction: column; 
    max-width: 400px;
}

span{
color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }
